:host {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        .icon {
            top: 12px;
            font-size: 33px;
            font-weight: 900;
            letter-spacing: -1px;
            line-height: 33px;
            text-decoration: none;
            color: #C9CCD3;
            font-family: "Roboto", sans-serif;
        }
        .btn {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            justify-items: baseline;
            cursor: pointer;
            color: white;
            border-radius: 20px;
            padding: 2px 30px !important;
            height: 40px;
        }
        .icon-search {
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }
    }
}